# 1. Ignore everything
*

# 2. Allow the directories themselves
!*/

# 3. Whitelist the CONTENTS of the folders
!ghostty/**
!niri/**
!noctalia/**
!nvim/**
!xremap/**
!yazi/**
!ente/**

# 4. Whitelist specific files
!.gitignore
!mimeapps.list
!user-dirs.dirs
